// some default style
body {
  background-color: @background;
  font-family: @ftPrimary;
}
h1, h2, h3, h4, h5 {
  font-family: @ftSecondary;
}
h2 {
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: normal;
}
h3 {
  font-size: 16px;
}

// Header
.navbar {

  .container {
    padding: 0;

    // Style for the logo
    .brand {
      h1 {
        display: inline;
        margin: 0;
        color: @white;
        font-size: 26px;
        font-weight: normal;
        line-height: 20px;

        span {
          color: @grey;
        }
      }
    }

    // Style for the navigation menu
    ul.nav {
      right: -10px;
      float: right;
      margin: 0;

      li > a {
        padding: 12px 0 12px 12px;
        color: @white;
        font-size: 14px;
        text-transform: uppercase;

        &:hover {
          color: @primary;

        }
      }
    }
  }
}

// footer
footer {
  margin-top: 100px;
  .container {
    padding-bottom: 10px;
  }
  ul {
    margin-bottom: 0;
    &.left {
      li {
        font-family: @ftSecondary;
        font-style: 11px;
        &#mentions {
          font-style: italic;
        }
      }
    }
    &.right {
      li {
        a {
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }
  }
}

