body.home {
  #overview {
    .container {
      #axes {
        ul {
          li {
            padding: 0;
            margin: 0;
            width: 25%;

            h3 {
              text-transform: uppercase;
              color: @white;
              line-height: 30px;
              background-image:  url('/public/images/pictos/chevron.png'), url('/public/images/pictos/chevron.png');
              background-repeat: no-repeat;
              background-position: 107% center, -7% center;
            }

            &.even  h3 {
              background-color: @primary;
            }

            &.odd  h3 {
              background-color: @secondary;
            }
          }
        }
      }

    }
  }

  #communaute {
    border-bottom: 1px solid @grey;
    ul {
      margin: 40px 0 60px;

      li {
        width: 112px;
        padding: 0 11px;
        div {
          span {
            display: block;
            padding-top: 77px;
            font-size: 13px;
            letter-spacing: -1px;
            font-weight: bold;
          }
        }
      }
    }
    #medias {
      .acteur('/public/images/acteurs/green/medias.png');
    }
    #collectivites {
      .acteur('/public/images/acteurs/green/collectivites.png');
    }
    #associations {
      .acteur('/public/images/acteurs/green/associations.png');
    }
    #enseignement {
      .acteur('/public/images/acteurs/green/enseignements.png');
    }
    #entreprises {
      .acteur('/public/images/acteurs/green/entreprises.png');
    }
    #recherche {
      .acteur('/public/images/acteurs/green/recherche.png');
    }
    #startups {
      .acteur('/public/images/acteurs/green/startups.png');
    }
  }

  #projet {
    border-bottom: 1px solid @grey;
    h2 {
      margin-bottom: 0px;
    }
    .container >  div {
      padding: 0 45px;
      position: relative;
      top: -40px;

      #projetBaseLine {
        text-align: right;
        color: @secondary;
        h3 {
          margin: 0;
          font-weight: normal;
          font-size: 28px;
        }
        p{
          font-family: @ftSecondary;
          font-size: 20px;
        }
      }
      .row-fluid {
        margin: 40px 0;
        .span6 {
          div {
            font-family: @ftSecondary;
            width: 80%;
            margin: 0 auto;
            h3 {
              font-size: 20px;
              letter-spacing: -1px;
              margin: 0px;
              padding-left: 15px;
              padding-top: 5px;
            }
            p {
              font-size: 20px;
              text-align: center;
              padding: 35px;
              line-height: 25px;
            }
          }
          .appelTitle {
            background: url('/public/images/pictos/appel.png') no-repeat 100% 2% @secondary;
          }
          .annuaireTitle {
            background: url('/public/images/pictos/annuaire.png') no-repeat 100% 8% @secondary;
          }
        }
      }
      #etcom {
        bottom: 70px;
        height: 0;
        left: 45%;
        position: relative;

        span {
          color: @grey;
          font-family: @ftSecondary;
          font-size: 125px;
        }
      }
    }
  }

  #agenda {
    border-bottom: 1px solid @grey;
  }

  #partenaires {
    border-bottom: 1px solid @grey;
    ul {
      li {
        width: 19%;
        padding: 0;
        text-align: center;
      }
    }

    #devenirpartenaire{
      bottom: 35px;
      left: 825px;
      position: relative;
      height: 0;
      width: 115px;
      a {
        display: block;
        text-align: center;
        width: 115px;
        height: 115px;
        display: table-cell;
        vertical-align: middle;
        background-color: @black;
        font-weight: bold;
        text-decoration: none;
        font-size: 18px;
        color: @white;
        font-family: @ftSecondary;
        .circle;

        img {
          display: block;
          margin: 0 auto;
        }
        &:hover{
          background-color: @secondary;
        }
      }
    }

  }
  footer {
    margin-top:0;
    border-top: none;
  }
}
