#overview {
  margin-top: 50px;

  .container {
    text-align: center;

    #title {
      max-width: 388px;
      margin: 40px auto;
    }

    p {
      color: @grey;
    }
  }
}

#communaute {
  ul {
    margin-left: 0px;

    li {
      width: 112px;
      padding : 0 11px;
       div {
         span {
           display: block;
           padding-top: 80px;
           font-size: 13px;
         }
       }
    }
  }
  #medias {
    .acteur('/public/images/acteurs/medias.png');
  }
  #collectivites{
    .acteur('/public/images/acteurs/collectivites.png');
  }
  #associations {
    .acteur('/public/images/acteurs/associations.png');
  }
  #enseignement {
    .acteur('/public/images/acteurs/enseignements.png');
  }
  #entreprises{
    .acteur('/public/images/acteurs/entreprises.png');
  }
  #recherche {
    .acteur('/public/images/acteurs/recherche.png');
  }
  #startups{
    .acteur('/public/images/acteurs/startups.png');
  }
}

#partenaires {
  ul {
    li {
      width: 19%;
      padding: 0;
      text-align: center;
    }
  }
}

