[submodule "modules-src/securesocial"]
	path = modules-src/securesocial
	url = https://github.com/sim51/securesocial.git
[submodule "modules-src/less"]
	path = modules-src/less
	url = https://github.com/lunatech-labs/play-module-less.git

