// acteur mixin
.circle{
  border-radius: 70px 70px 70px 70px;
}
.acteur (@url) {
  .circle;
  background: url(@url) no-repeat 50% 25% @white;
  color: @black;
  height: 115px;
  text-align: center;
}

// Different blocks
.firstBlock {
  margin-top: 50px;
}
.container {
  padding : 20px 0;
}
.block {
  border-bottom: 1px solid @grey;
}
.blockEven {
  color : @white;
  background-color: @primary;
  .block;
}
.blockOdd {
  color : @white;
  background-color: @secondary;
  a{
    color: @white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .block;
}
.blockDefault {
  color : @grey;
  background-color: @white;
  .block;
}
.mainContainer {
  border: none;
}

// for images in a link with a text
img.baseline {
  vertical-align: baseline;
}
img.middle {
  vertical-align: middle;
}

// list inline for first & last element
ul.inline > li.first, ol.inline > li.first {
  padding-left: 0 !important;
}
ul.inline > li.last, ol.inline > li.last {
  padding-right: 0 !important;
}

// forms
.form-horizontal {
  background-color: @greyLight;
  padding: 40px;

  .control-label {
    width : 20%;
    padding-right: 20px;
  }

  .controls {
    margin-left: 20%;
    width : 80%;

    input, textarea {
      width: 70%;
      margin: 0;
    }
  }

  .form-actions {
    margin: 0;
    padding:0;
    background-color: transparent;
    border: none;
    margin-left: 20%;
    width : 60%;

    .btn-primary {
      background-color: @secondary;
      background-image: linear-gradient(to bottom, @secondary, #257C95);
    }
  }
}