#{extends 'page_logo.html' /}
#{set title: messages.get('securesocial.changeTitle') /}
#{set mainClass:'securesocial' /}

<div class="row-fluid">
    <div class="span12">

        <h1>&{'securesocial.changeTitle'}</h1>

        #{if flash.error}
            <div class="alert alert-error">
                ${flash.error}
            </div>
        #{/if}

    </div>

    <div class="control-group" >
        <p>&{'securesocial.changeLabel'}</p>

        #{form @securesocial.PasswordChangeController.doChange(), autocomplete:'off'}
            #{authenticityToken /}

            <fieldset class="blockLight">

                <div class="clearfix #{ifError 'currentPassword'} error #{/ifError}">
                    <label for="currentPassword">&{'securesocial.currentPassword'}</label>

                    <div class="input">
                        <input id="currentPassword" class="large" name="currentPassword" type="password"/>
                        #{ifError 'currentPassword'}
                            <span class="help-inline">&{'securesocial.required'}</span>
                        #{/ifError}
                    </div>
                </div>

                #{securesocial_password_entry /}

                <div class="form-actions">
                    <a href="@{securesocial.SecureSocial.login()}" class="btn pull-right">&{'securesocial.cancel'}</a>
                    <button type="submit" class="btn btn-primary pull-right">&{'securesocial.createAccount'}</button>
                </div>

            </fieldset>

        #{/form}
    </div>

</div>
