*{ ~~~ Mode list ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ }*
#{if _as == 'list'}
    <div class="itemResult blockDefault">
        <div class="row-fluid">
            <div class="span6">
                <h4>
                    <a href="@{Organismes.show(_organisme?.master?.id)}" title="&{'page.organisme.search.item.show', _organisme.nom }">
                        ${_organisme?.nom}
                    </a>
                </h4>
                <p>${_organisme?.activite?.libelle}</p>
                <div class="tags">
                    ${_organisme?.tags}
                </div>
                <div class="info">
                    <ul class="unstyled">
                        <li>${_organisme?.ville}</li>
                        <li>
                            <a href="${_organisme?.siteweb}" title="&{'page.organisme.search.site.title', _organisme.nom }">${_organisme?.siteweb}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span6">
                #{if _organisme?.logo?.type}
                    <a href="@{Organismes.show(_organisme?.master?.id)}" title="&{'page.organisme.search.item.show', _organisme.nom }">
                        <img src="@{Organismes.logo(_organisme?.id)}" title="&{'page.organisme.search.logo.alt', _organisme.nom }" />
                    </a>
                #{/if}
                #{else}
                    #{if play.mode.isDev()}
                        <a href="@{Organismes.show(_organisme?.master?.id)}" title="&{'page.organisme.search.item.show', _organisme.nom }">
                            <img src="http://lorempixel.com/200/220/" title="Lorem Pixel"/>
                        </a>
                    #{/if}
                #{/else}
            </div>
        </div>
    </div>
#{/if}

*{ ~~~ Mode edit/form ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ }*
#{if _as == 'form'}

    #{form @Organismes.save(_id), class:"form-horizontal", enctype:'multipart/form-data'}

        #{ifErrors}
            <div class="alert alert-error">
                <strong>&{'error.checkform'}</strong>
            </div>
        #{/ifErrors}
        #{if flash.success}
            <div class="alert alert-success">
                 ${flash.success}
            </div>
        #{/if}

        <!-- Fieldset Identitté -->
        <fieldset class="blockLight">
            <label>&{'organisme.fieldset.identite'}</label>

            <!-- Field nom -->
            <div class="control-group #{ifError 'organisme.nom'}error#{/ifError}">
                <label class="control-label" for="nom">
                    &{'organisme.nom'} *
                </label>
                <div class="controls">
                    <input type="text" id="nom" name="organisme.nom" placeholder="&{'organisme.nom.placeholder'}" value="#{if flash['organisme.nom']}${flash['organisme.nom']}#{/if}#{else}${_organisme?.nom}#{/else}" #{if _disabled}disabled="disabled"#{/if}/>
                    #{ifError 'organisme.nom'}
                        <span class="help-inline">#{error 'organisme.nom' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field type -->
            <div class="control-group #{ifError 'organisme.type'}error#{/ifError}">
                <label class="control-label" for="type">
                    &{'organisme.type'} *
                </label>
                <div class="controls">
                    #{if _disabled}
                        #{select 'organisme.type.id', items:_types, value:(flash['organisme.type.id'])?flash['organisme.type.id']:_organisme?.type?.id, id:'type', disabled:'disabled'/}
                    #{/if}
                    #{else}
                        #{select 'organisme.type.id', items:_types, value:(flash['organisme.type.id'])?flash['organisme.type.id']:_organisme?.type?.id, id:'type'/}
                    #{/else}
                    #{ifError 'organisme.type'}
                        <span class="help-inline">#{error 'organisme.type' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field logo -->
            <div class="control-group #{ifError 'organisme.logo'}error#{/ifError}">
                <label class="control-label" for="logo">
                    &{'organisme.logo'}
                </label>
                <div class="controls">
                    #{if _organisme?.logo != null && _organisme?.logo?.type != null}
                        <img src="@{Organismes.logo(_id)}" /> <br/>
                    #{/if}
                    #{if !_disabled}
                        <input type="file" id="logo" name="organisme.logo" placeholder="&{'organisme.logo.placeholder'}" value="${_organisme?.logo}"/>
                    #{/if}
                    #{ifError 'organisme.logo'}
                        <span class="help-inline">#{error 'organisme.logo' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field site internet -->
            <div class="control-group #{ifError 'organisme.siteweb'}error#{/ifError}">
                <label class="control-label" for="siteweb">
                    &{'organisme.siteweb'} *
                </label>
                <div class="controls">
                    <input type="text" id="siteweb" name="organisme.siteweb" placeholder="&{'organisme.siteweb.placeholder'}" value="#{if flash['organisme.siteweb']}${flash['organisme.siteweb']}#{/if}#{else}${_organisme?.siteweb}#{/else}" #{if _disabled}disabled="disabled"#{/if}/>
                    #{ifError 'organisme.siteweb'}
                        <span class="help-inline">#{error 'organisme.siteweb' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field siret -->
            <div class="control-group #{ifError 'organisme.siret'}error#{/ifError}">
                <label class="control-label" for="siret">
                    &{'organisme.siret'}
                    <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.siret.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    <input type="text" id="siret" name="organisme.siret" placeholder="&{'organisme.siret.placeholder'}" value="#{if flash['organisme.siret']}${flash['organisme.siret']}#{/if}#{else}${_organisme?.siret}#{/else}" #{if _disabled}disabled="disabled"#{/if}"/>
                    #{ifError 'organisme.siret'}
                        <span class="help-inline">#{error 'organisme.siret' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field date creation -->
            <div class="control-group #{ifError 'organisme.creation'}error#{/ifError}">
                <label class="control-label" for="creation">
                    &{'organisme.creation'}
                        <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.creation.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    <div class="input-append date datepicker" >
                        <input  id="creation" data-date-format="dd-mm-yyyy" data-date-weekStart="1" name="organisme.creation" class="span2" size="16" type="date" value="#{if flash['organisme.creation']}${flash['organisme.creation']}#{/if}#{else}${_organisme?.creation?.format('dd-MM-yyyy')}#{/else}" #{if _disabled}disabled="disabled"#{/if} placeholder="&{'organisme.creation.placeholder'}">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    #{ifError 'organisme.creation'}
                        <span class="help-inline">#{error 'organisme.creation' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field nbSalarie -->
            <div class="control-group #{ifError 'organisme.nbSalarie'}error#{/ifError}">
                <label class="control-label" for="nbSalarie">
                    &{'organisme.nbSalarie'}
                </label>
                <div class="controls">
                    #{if _disabled}
                        #{select 'organisme.nbSalarie.id', items:_nbSalaries, value:(flash['organisme.nbSalarie.id'])?flash['organisme.nbSalarie.id']:_organisme?.nbSalarie?.id, id:'nbSalarie', disabled:'disabled' /}
                    #{/if}
                    #{else}
                        #{select 'organisme.nbSalarie.id', items:_nbSalaries, value:(flash['organisme.nbSalarie.id'])?flash['organisme.nbSalarie.id']:_organisme?.nbSalarie?.id, id:'nbSalarie' /}
                    #{/else}
                    #{ifError 'organisme.nbSalarie'}
                        <span class="help-inline">#{error 'organisme.nbSalarie' /}</span>
                    #{/ifError}
                </div>
            </div>

        </fieldset>

        <!-- Fieldset Activites -->
        <fieldset class="blockLight">
            <label>&{'organsime.fieldset.activites'}</label>

            <!-- Field activite -->
            <div class="control-group #{ifError 'organisme.activite'}error#{/ifError}">
                <label class="control-label" for="activites">
                    &{'organisme.activite'} *
                    <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.activite.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    #{if _disabled}
                        #{select 'organisme.activite.id', items:_activites, value:(flash['organisme.activite.id'])?flash['organisme.activite.id']:_organisme?.activite?.id, id:'activite', disabled:'disabled'/}
                    #{/if}
                    #{else}
                        #{select 'organisme.activite.id', items:_activites, value:(flash['organisme.activite.id'])?flash['organisme.activite.id']:_organisme?.activite?.id, id:'activite'/}
                    #{/else}
                    #{ifError 'organisme.activite'}
                        <span class="help-inline">#{error 'organisme.activite' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field produit -->
            <div class="control-group #{ifError 'organisme.produit'}error#{/ifError}">
                <label class="control-label" for="produit">
                    &{'organisme.produit'} *
                    <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.produit.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    <textarea id="produit" name="organisme.produit" placeholder="&{'organisme.produit.placeholder'}" rows="3" #{if _disabled}disabled="disabled"#{/if}>#{if flash['organisme.produit']}${flash['organisme.produit']}#{/if}#{else}${_organisme?.produit}#{/else}</textarea>
                    #{ifError 'organisme.produit'}
                        <span class="help-inline">#{error 'organisme.produit' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field description -->
            <div class="control-group #{ifError 'organisme.description'}error#{/ifError}">
                <label class="control-label" for="description">
                    &{'organisme.description'}
                </label>
                <div class="controls">
                    <textarea id="description" name="organisme.description" placeholder="&{'organisme.description.placeholder'}" rows="3" #{if _disabled}disabled="disabled"#{/if}>#{if flash['organisme.description']}${flash['organisme.description']}#{/if}#{else}${_organisme?.description}#{/else}</textarea>
                    #{ifError 'organisme.description'}
                        <span class="help-inline">#{error 'organisme.description' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field tags -->
            <div class="control-group #{ifError 'organisme.tags'}error#{/ifError}">
                <label class="control-label" for="tags">
                    &{'organisme.tags'} *
                    <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.tags.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    <input type="text" id="tags" name="organisme.tags" placeholder="&{'organisme.tags.placeholder'}" value="#{if flash['organisme.tags']}${flash['organisme.tags']}#{/if}#{else}${_organisme?.tags}#{/else}" #{if _disabled}disabled="disabled"#{/if}/>
                    #{ifError 'organisme.tags'}
                        <span class="help-inline">#{error 'organisme.tags' /}</span>
                    #{/ifError}
                </div>
            </div>

        </fieldset>

        <fieldset class="blockLight">
            <label>&{'organisme.fieldset.contact'}</label>

            <!-- Field interlocuteur -->
            <div class="control-group #{ifError 'organisme.interlocuteur'}error#{/ifError}">
                <label class="control-label" for="interlocuteur">
                    &{'organisme.interlocuteur'}
                </label>
                <div class="controls">
                    <input type="text" id="interlocuteur" name="organisme.interlocuteur" placeholder="&{'organisme.interlocuteur.placeholder'}" value="#{if flash['organisme.interlocuteur']}${flash['organisme.interlocuteur']}#{/if}#{else}${_organisme?.interlocuteur}#{/else}" #{if _disabled}disabled="disabled"#{/if}/>
                    #{ifError 'organisme.interlocuteur'}
                        <span class="help-inline">#{error 'organisme.interlocuteur' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field telephone -->
            <div class="control-group #{ifError 'organisme.telephone'}error#{/ifError}">
                <label class="control-label" for="telephone">
                    &{'organisme.telephone'}
                </label>
                <div class="controls">
                    <input type="text" id="telephone" name="organisme.telephone" placeholder="&{'organisme.telephone.placeholder'}" value="#{if flash['organisme.telephone']}${flash['organisme.telephone']}#{/if}#{else}${_organisme?.telephone}#{/else}" #{if _disabled}disabled="disabled"#{/if}/>
                    #{ifError 'organisme.telephone'}
                        <span class="help-inline">#{error 'organisme.telephone' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field email -->
            <div class="control-group #{ifError 'organisme.email'}error#{/ifError}">
                <label class="control-label" for="email">
                    &{'organisme.email'}
                    <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.email.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    <input type="email" id="email" name="organisme.email" placeholder="&{'organisme.email.placeholder'}" value="#{if flash['organisme.email']}${flash['organisme.email']}#{/if}#{else}${_organisme?.email}#{/else}" #{if _disabled}disabled="disabled"#{/if}/>
                    #{ifError 'organisme.email'}
                        <span class="help-inline">#{error 'organisme.email' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field adresse -->
            <div class="control-group #{ifError 'organisme.adresse'}error#{/ifError}">
                <label class="control-label" for="adresse">
                    &{'organisme.adresse'}
                </label>
                <div class="controls">
                    <input type="text" id="adresse" name="organisme.adresse" placeholder="&{'organisme.adresse.placeholder'}" value="#{if flash['organisme.adresse']}${flash['organisme.adresse']}#{/if}#{else}${_organisme?.adresse}#{/else}" #{if _disabled}disabled="disabled"#{/if}/>
                    #{ifError 'organisme.adresse'}
                        <span class="help-inline">#{error 'organisme.adresse' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field ville -->
            <div class="control-group #{ifError 'organisme.ville'}error#{/ifError}">
                <label class="control-label" for="ville">
                    &{'organisme.ville'} *
                </label>
                <div class="controls">
                    <input type="text" id="ville" name="organisme.ville" placeholder="&{'organisme.ville.placeholder'}" value="#{if flash['organisme.ville']}${flash['organisme.ville']}#{/if}#{else}${_organisme?.ville}#{/else}" #{if _disabled}disabled="disabled"#{/if}/>
                    #{ifError 'organisme.ville'}
                        <span class="help-inline">#{error 'organisme.ville' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field codePostal -->
            <div class="control-group #{ifError 'organisme.codePostal'}error#{/ifError}">
                <label class="control-label" for="codePostal">
                    &{'organisme.codePostal'}
                </label>
                <div class="controls">
                    <input type="text" id="codePostal" name="organisme.codePostal" placeholder="&{'organisme.codePostal.placeholder'}" value="#{if flash['organisme.codePostal']}${flash['organisme.codePostal']}#{/if}#{else}${_organisme?.codePostal}#{/else}" #{if _disabled}disabled="disabled"#{/if}/>
                    #{ifError 'organisme.codePostal'}
                        <span class="help-inline">#{error 'organisme.codePostal' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field twitter -->
            <div class="control-group #{ifError 'organisme.twitter'}error#{/ifError}">
                <label class="control-label" for="twitter">
                    &{'organisme.twitter'}
                    <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.twitter.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    <input type="text" id="twitter" name="organisme.twitter" placeholder="&{'organisme.twitter.placeholder'}" value="#{if flash['organisme.twitter']}${flash['organisme.twitter']}#{/if}#{else}${_organisme?.twitter}#{/else}" #{if _disabled}disabled="disabled"#{/if}/>
                    #{ifError 'organisme.twitter'}
                        <span class="help-inline">#{error 'organisme.twitter' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field facebook -->
            <div class="control-group #{ifError 'organisme.facebook'}error#{/ifError}">
                <label class="control-label" for="facebook">
                    &{'organisme.facebook'}
                    <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.facebook.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    <input type="text" id="facebook" name="organisme.facebook" placeholder="&{'organisme.facebook.placeholder'}" value="#{if flash['organisme.facebook']}${flash['organisme.facebook']}#{/if}#{else}${_organisme?.facebook}#{/else}" #{if _disabled}disabled="disabled"#{/if}/>
                    #{ifError 'organisme.facebook'}
                        <span class="help-inline">#{error 'organisme.facebook' /}</span>
                    #{/ifError}
                </div>
            </div>

        </fieldset>

        #{if !_disabled}
            <!-- CGU -->
            <div class="control-group #{ifError 'cgu'}errorBlock error#{/ifError}">
                <label class="cgu" for="cgu">
                    &{'page.organisme.edit.condition'}
                    <input id="cgu" type="checkbox" name="cgu" value="1" />
                    #{ifError 'cgu'}
                        <span class="help-inline">#{error 'cgu' /}</span>
                    #{/ifError}
                </label>
            </div>


            <!-- Form button -->
            <div class="form-actions">
                <button class="btn btn-primary pull-right" type="submit">&{'organisme.save'}</button>
            </div>
        #{/if}

    #{/form}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.form-tooltip').tooltip();
        });
    </script>
#{/if}

*{ ~~~ Mode RSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ }*
#{if _as == 'rss'}
    <item>
        <title>${_organisme.nom}</title>
        <link>@@{Organismes.show(_organisme.id)}</link>
        <guid>@@{Organismes.show(_organisme.id)}</guid>
        <pubDate>${_organisme.created.format('E, dd MMM yyyy HH:mm:ss Z')}</pubDate>
        <description>
            <![CDATA[
                ${_organisme.description}
            ]]>
        </description>
    </item>
#{/if}

*{ ~~~ Partenaire ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ }*
#{if _as == 'partenaire'}

    <div class="partenaire partenaire${_i}">
        <div class="flip">
            #{if _organisme.getLastVersion().logo.type}
                <img src="@{Organismes.logo(_organisme.id)}" title="Logo de ${_organisme.getLastVersion().nom}" />
            #{/if}
            #{else}
                #{if play.mode.isDev()}
                    <img src="http://lorempixel.com/200/220/" title="Loremp Pixel"/>
                #{/if}
            #{/else}
        </div>
        <div class="flap">
            <p>${_organisme.getLastVersion().description}</p>
            <a class="btn" href="${_organisme.getLastVersion().siteweb}" title="Site internet de ${_organisme.getLastVersion().nom}">Voir site web</a>
        </div>
        <div class="footer">
            <h3>${_organisme.getLastVersion().nom}</h3>
        </div>
    </div>

#{/if}