*{ ~~~ Mode full ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ }*
#{if _as == 'full'}
    <ul>
        <li>${_organisme?.nom}</li>
        <li><img src="@{Organismes.logo(_id)}" /></li>
    </ul>
#{/if}

*{ ~~~ Mode list ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ }*
#{if _as == 'list'}
#{/if}

*{ ~~~ Mode edit/form ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ }*
#{if _as == 'form'}
    #{form @Organismes.save(_id), class:"form-horizontal", enctype:'multipart/form-data'}

        #{ifErrors}
            <div class="alert alert-error">
                <strong>&{'error'}</strong> &{'error.checkform'}
            </div>
        #{/ifErrors}
        #{if flash.success}
            <div class="alert alert-success">
                 ${flash.success}
            </div>
        #{/if}

        <!-- Field nom -->
        <div class="control-group #{ifError 'organisme.nom'}error#{/ifError}">
            <label class="control-label" for="nom">
                &{'organisme.nom'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.nom.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                <input class="span6" type="text" id="nom" name="organisme.nom" placeholder="&{'organisme.nom.placeholder'}" value="${_organisme?.nom}"/>
                #{if errors?.forKey('organisme.nom')}
                    <span class="help-inline">#{error 'organisme.nom' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Field type -->
        <div class="control-group #{ifError 'organisme.type'}error#{/ifError}">
            <label class="control-label" for="type">
                &{'organisme.type'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.type.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                #{select 'organisme.type.id', items:_types, value:_organisme?.type?.id, id:'type', class:'medium' /}
                #{if errors?.forKey('organisme.type')}
                    <span class="help-inline">#{error 'organisme.type' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Field activites -->
        <div class="control-group #{ifError 'organisme.activites'}error#{/ifError}">
            <label class="control-label" for="activites">
            &{'organisme.activites'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.activites.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                #{select 'organisme.activites.id', items:_activites, value:_organisme?.activites?.id, id:'activites', class:'medium' /}
                #{if errors?.forKey('organisme.activites')}
                    <span class="help-inline">#{error 'organisme.activites' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Field logo -->
        <div class="control-group #{ifError 'organisme.logo'}error#{/ifError}">
            <label class="control-label" for="logo">
                &{'organisme.logo'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.logo.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                #{if _organisme?.logo != null}
                    <img src="@{Organismes.logo(_id)}" /> <br/>
                #{/if}
                <input class="span6" type="file" id="logo" name="organisme.logo" placeholder="&{'organisme.logo.placeholder'}" value="${_organisme?.logo}"/>
                #{if errors?.forKey('organisme.logo')}
                    <span class="help-inline">#{error 'organisme.logo' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Field siret -->
        <div class="control-group #{ifError 'organisme.siret'}error#{/ifError}">
            <label class="control-label" for="siret">
                &{'organisme.siret'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.siret.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                <input class="span6" type="text" id="siret" name="organisme.siret" placeholder="&{'organisme.siret.placeholder'}" value="${_organisme?.siret}"/>
                #{if errors?.forKey('organisme.siret')}
                    <span class="help-inline">#{error 'organisme.siret' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Field nbSalarie -->
        <div class="control-group #{ifError 'organisme.nbSalarie'}error#{/ifError}">
            <label class="control-label" for="nbSalarie">
                &{'organisme.nbSalarie'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.nbSalarie.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                <input class="span6" type="text" id="nbSalarie" name="organisme.nbSalarie" placeholder="&{'organisme.nbSalarie.placeholder'}" value="${_organisme?.nbSalarie}"/>
                #{if errors?.forKey('organisme.nbSalarie')}
                    <span class="help-inline">#{error 'organisme.nbSalarie' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Field telephone -->
        <div class="control-group #{ifError 'organisme.telephone'}error#{/ifError}">
            <label class="control-label" for="telephone">
                &{'organisme.telephone'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.telephone.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                <input class="span6" type="text" id="telephone" name="organisme.telephone" placeholder="&{'organisme.telephone.placeholder'}" value="${_organisme?.telephone}"/>
                #{if errors?.forKey('organisme.telephone')}
                    <span class="help-inline">#{error 'organisme.telephone' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Field email -->
        <div class="control-group #{ifError 'organisme.email'}error#{/ifError}">
            <label class="control-label" for="email">
                &{'organisme.email'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.email.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                <input class="span6" type="email" id="email" name="organisme.email" placeholder="&{'organisme.email.placeholder'}" value="${_organisme?.email}"/>
                #{if errors?.forKey('organisme.email')}
                    <span class="help-inline">#{error 'organisme.email' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Field adresse -->
        <div class="control-group #{ifError 'organisme.adresse'}error#{/ifError}">
            <label class="control-label" for="adresse">
                &{'organisme.adresse'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.adresse.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                <input class="span6" type="text" id="adresse" name="organisme.adresse" placeholder="&{'organisme.adresse.placeholder'}" value="${_organisme?.adresse}"/>
                #{if errors?.forKey('organisme.adresse')}
                    <span class="help-inline">#{error 'organisme.adresse' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Field ville -->
        <div class="control-group #{ifError 'organisme.ville'}error#{/ifError}">
            <label class="control-label" for="ville">
                &{'organisme.ville'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.ville.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                <input class="span6" type="text" id="ville" name="organisme.ville" placeholder="&{'organisme.ville.placeholder'}" value="${_organisme?.ville}"/>
                #{if errors?.forKey('organisme.ville')}
                    <span class="help-inline">#{error 'organisme.ville' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Field codePostal -->
        <div class="control-group #{ifError 'organisme.codePostal'}error#{/ifError}">
            <label class="control-label" for="codePostal">
                &{'organisme.codePostal'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.codePostal.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                <input class="span6" type="text" id="codePostal" name="organisme.codePostal" placeholder="&{'organisme.codePostal.placeholder'}" value="${_organisme?.codePostal}"/>
                #{if errors?.forKey('organisme.codePostal')}
                    <span class="help-inline">#{error 'organisme.codePostal' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Field produit -->
        <div class="control-group #{ifError 'organisme.produit'}error#{/ifError}">
            <label class="control-label" for="produit">
                &{'organisme.produit'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.produit.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                <textarea id="produit" name="organisme.produit" placeholder="&{'organisme.produit.placeholder'}" class="span6" rows="3">${_organisme?.produit}</textarea>
                #{if errors?.forKey('organisme.produit')}
                    <span class="help-inline">#{error 'organisme.produit' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Field description -->
        <div class="control-group #{ifError 'organisme.description'}error#{/ifError}">
            <label class="control-label" for="description">
                &{'organisme.description'}
                <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'organisme.description.help'}"><i class="icon-info-sign"></i></a>
            </label>
            <div class="controls">
                <textarea id="description" name="organisme.description" placeholder="&{'organisme.description.placeholder'}" class="span6" rows="3">${_organisme?.description}</textarea>
                #{if errors?.forKey('organisme.description')}
                    <span class="help-inline">#{error 'organisme.description' /}</span>
                #{/if}
            </div>
        </div>

        <!-- Form button -->
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">&{'organisme.save'}</button>
        </div>

    #{/form}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.form-tooltip').tooltip();
        });
    </script>
#{/if}

*{ ~~~ Mode RSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ }*
#{if _as == 'rss'}
    <item>
        <title>${_organisme.nom}</title>
        <link>@@{Organismes.show(_organisme.id)}</link>
        <guid>@@{Organismes.show(_organisme.id)}</guid>
        <pubDate>${_organisme.created.format('E, dd MMM yyyy HH:mm:ss Z')}</pubDate>
        <description>
            <![CDATA[
                ${_organisme.description}
            ]]>
        </description>
    </item>
#{/if}

*{ ~~~ Partenaire ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ }*
#{if _as == 'partenaire'}
    <div class="partenaire">
        <div class="flip">
            <img src="@{Organismes.logo(_organisme.id)}" title="Logo de ${_organisme.getLastVersion().nom}" />
        </div>
        <div class="flap">
            <p>${_organisme.getLastVersion().description}</p>
            <a class="btn" href="${_organisme.getLastVersion().siteweb}" title="Site internet de ${_organisme.getLastVersion().nom}">Voir site web</a>
        </div>
        <div class="footer">
            <h3>${_organisme.getLastVersion().nom}</h3>
        </div>
    </div>

#{/if}