#{extends 'page_logo.html' /}
#{set title: messages.get('securesocial.resetTitle') /}
#{set mainClass:'securesocial' /}

<div class="row-fluid">
    <div class="span12">

        <h1>&{'securesocial.resetTitle'}</h1>

    #{if flash.error}
        <div class="alert alert-error">
            ${flash.error}
        </div>
    #{/if}

    </div>

    <div class="control-group" >
        <p>&{'securesocial.changeLabel'}</p>

        #{form @securesocial.PasswordChangeController.doChange(), autocomplete:'off'}
            #{authenticityToken /}
            <input type="hidden" name="username" value="${username}" />
            <input type="hidden" name="uuid" value="${uuid}" />

            <fieldset class="blockLight">

                #{securesocial_password_entry /}

                <div class="form-actions">
                    <a href="@{securesocial.SecureSocial.login()}" class="btn pull-right">&{'securesocial.cancel'}</a>
                    <button type="submit" class="btn btn-primary pull-right">&{'securesocial.createAccount'}</button>
                </div>

            </fieldset>
        #{/form}

    </div>

</div>
