#{extends 'page_logo.html' /}
#{set title:messages.get('page.organisme.partenaire.title') /}

<h1>&{'page.organisme.partenaire.title'}</h1>

<div id="txt-membre">
    #{cms.display 'membre'}
        <p>Qualis ista philosophia est, quae non interitum afferat pravitatis, sed sit contenta mediocritate vitiorum? Paulum, cum regem Persem captum adduceret, eodem flumine invectio? Cenasti in vita numquam bene, cum omnia in ista Consumis squilla atque acupensere cum decimano. Animum autem reliquis rebus ita perfecit, ut corpus; Neminem videbis ita laudatum, ut artifex callidus comparandarum voluptatum diceretur. Idem adhuc; Ita multo sanguine profuso in laetitia et in victoria est mortuus. Ille enim occurrentia nescio quae comminiscebatur; Ex eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia. Beatus sibi videtur esse moriens. Illud urgueam, non intellegere eum quid sibi dicendum sit, cum dolorem summum malum esse dixerit.</p>
    #{/cms.display}
</div>

%{int i=1}%
#{list items:partenaires, as:'organisme'}
    #{if i > 16}
        #{organisme organisme:organisme , i:((i%16)+1), as:'partenaire' /}
    #{/if}
    #{else}
        #{organisme organisme:organisme , i:(i%16), as:'partenaire' /}
    #{/else}
    %{i++}%
#{/list}

#{if i > 16}
<div id="partenaire" class="partenaire${((i%16)+1)}">
    <div class="flap">
        <a href="@{cms.Frontend.show("devenez-partenaire")}" title="&{'page.organisme.partenaire.devenez'}">
            <div>+</div>
        &{'page.organisme.partenaire.devenez'}
        </a>
    </div>
</div>
#{/if}
#{else}
    <div id="partenaire" class="partenaire${(i%16)}">
        <div class="flap">
            <a href="@{cms.Frontend.show("devenez-partenaire")}" title="&{'page.organisme.partenaire.devenez'}">
                <div>+</div>
            &{'page.organisme.partenaire.devenez'}
            </a>
        </div>
    </div>
#{/else}

#{set 'moreScripts'}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".partenaire .flap").hide();

            $(".partenaire").mouseenter(function(){
                if($(this).children(".flip").is(":visible")){
                    $(this).children(".flip").hide();
                    $(this).children(".flap").show();
                }
                else{
                    $(this).children(".flap").hide();
                    $(this).children(".flip").show();
                }

            });
        });
    </script>
#{/set}
