<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>&{'organisme.rss.title'}</title>
        <link>@@{Organismes.rss()}</link>
        <description>
            #{cms.display 'organisme.rss.description' }
                TODO : Write a description for organisme RSS
            #{/cms.display}
        </description>
        <lastBuildDate>${today.format('E, dd MMM yyyy HH:mm:ss Z')}</lastBuildDate>

        #{list items:organisme, as:'organisme'}
            #{organisme organisme:organisme, as:'rss'/}
        #{/list}

    </channel>
</rss>
