#{extends 'main.html' /}
#{set mainClass:'organisme search' /}
#{set title:messages.get('page.organisme.search.title') /}

<div class="firstBlock blockDefault mainContainer">
    <div class="container">
        <h1>&{'page.organisme.search.title'}</h1>

        <div id="searchIntro">
            #{cms.display 'annuaire_search' }
                <p>Cet annuaire collaboratif répertorie les acteurs de l'enseignement, la recherche, les aassociations, réseaux, médias et entreprises proposant des services et outils en lien avec les démarches open data et le traitement des données en Pays de la Loire.</p>
            #{/cms.display}
        </div>

        <p>&{'page.organisme.search.accroche'}</p>

        <div id="new">
            <a class="btn btn-primary" href="@{Organismes.edit()}" title="Créer une fiche acteur">&{'page.organisme.search.create'}</a>
        </div>
    </div>
</div>


#{form @Organismes.search(), id:'form', method:'GET'}
    <div class="blockDark">
        <div class="container">
            <div class="row-fluid">

                <div class="span8">
                    <div id="search">
                        <h2>&{'page.organisme.search.search'}</h2>
                        <div class="row-fluid">
                            <div class="span2">
                                <label id="query" class="control-label pull-left">&{'page.organisme.search.keyword'}</label>
                            </div>
                            <div class="input-append span10 pull-right">
                                <input id="query" type="text" name="query" value="${query}" />
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </div>
                    </div>

                    <p id="searchText" class="pull-right">&{'page.organisme.search.baseline', nbItems, nbTotal }</p>

                    <div id="result">
                        #{list items:organismes , as:'organisme'}
                            #{organisme organisme:organisme.getLastVersion(), as:'list' /}
                        #{/list}

                        #{if nbItems > models.OrganismeMaster.ITEM_PER_PAGE}
                            <div id="pagination" class="blockDefault">
                                <div class="span12 pagination">
                                    <ul>
                                        *{ Previous link }*
                                        #{if page > 1}
                                            <li><a href="@{Organismes.search(query, typologies, deps, page -1)}">&lt;</a></li>
                                        #{/if}

                                        #{if (page-2) > 0}
                                            #{if (page+2) <= (nbItems / models.OrganismeMaster.ITEM_PER_PAGE)}
                                                *{ Standard }*
                                                %{for (int i=(page-2); i <= page+2; i++){}%
                                                    <li><a #{if i==page}class="current"#{/if} href="@{Organismes.search(query, typologies, deps, i)}" title="Page n° ${i}">${i}</a></li>
                                                %{}}%
                                            #{/if}
                                            #{else}
                                                *{ Start from the end }*
                                                #{if (nbItems % models.OrganismeMaster.ITEM_PER_PAGE) == 0}
                                                    %{for (int i=((nbItems/models.OrganismeMaster.ITEM_PER_PAGE)-4); i<((nbItems/models.OrganismeMaster.ITEM_PER_PAGE) +1); i++){}%
                                                        #{if i > 0}
                                                            <li><a #{if i==page}class="current"#{/if} href="@{Organismes.search(query, typologies, deps, i)}" title="Page n° ${i}">${i}</a></li>
                                                        #{/if}
                                                    %{}}%
                                                #{/if}
                                                #{else}
                                                    %{for (int i=((nbItems/models.OrganismeMaster.ITEM_PER_PAGE)-3); i<((nbItems/models.OrganismeMaster.ITEM_PER_PAGE) +1); i++){}%
                                                        #{if i > 0}
                                                            <li><a #{if i==page}class="current"#{/if} href="@{Organismes.search(query, typologies, deps, i)}" title="Page n° ${i}">${i}</a></li>
                                                        #{/if}
                                                    %{}}%
                                                #{/else}
                                            #{/else}
                                        #{/if}
                                        #{else}
                                            *{ Start from 1 to 5 }*
                                            #{if (nbItems % models.OrganismeMaster.ITEM_PER_PAGE) == 0}
                                                %{for (int i=1; i <= 5; i++){}%
                                                    #{if i <= ((nbItems/models.OrganismeMaster.ITEM_PER_PAGE))}
                                                        <li><a #{if i==page}class="current"#{/if} href="@{Organismes.search(query, typologies, deps, i)}" title="Page n° ${i}">${i}</a></li>
                                                    #{/if}
                                                %{}}%
                                            #{/if}
                                            #{else}
                                                %{for (int i=1; i <= 5; i++){}%
                                                    #{if i <= ((nbItems/models.OrganismeMaster.ITEM_PER_PAGE) +1)}
                                                        <li><a #{if i==page}class="current"#{/if} href="@{Organismes.search(query, typologies, deps, i)}" title="Page n° ${i}">${i}</a></li>
                                                    #{/if}
                                                %{}}%
                                            #{/else}
                                        #{/else}

                                        *{ Next link }*
                                        #{if (page) < (nbItems / models.OrganismeMaster.ITEM_PER_PAGE)}
                                            <li><a href="@{Organismes.search(query, typologies, deps, page+1)}">&gt;</a></li>
                                        #{/if}
                                    </ul>
                                </div>
                            </div>
                        #{/if}

                    </div>
                </div>

                <div class="span4">
                    <h2>&{'page.organisme.search.search.target'}</h2>

                    <div>
                        <h3>&{'page.organisme.search.typo'}</h3>
                        <div class="blockDefault">
                            <ul class="unstyled">
                                #{list items:types, as:'type'}
                                    <li>
                                        <label for="type${type.id}">
                                            <input id="type${type.id}" name="typologies" type="checkbox" value="${type.id}" #{if typologies?.contains(type.id)}checked="checked"#{/if} />
                                            ${type.libelle}
                                        </label>
                                    </li>
                                #{/list}
                            </ul>
                        </div>
                    </div>

                    <div>
                        <h3>&{'page.organisme.search.departement'}</h3>
                        <div class="blockDefault">
                            <ul class="unstyled">
                                <li>
                                    <label for="44">
                                        <input id="44" name="deps" type="checkbox" value="44" #{if deps?.contains("44")}checked="checked"#{/if} /> &{'page.organisme.search.44'}
                                    </label>
                                </li>
                                <li>
                                    <label for="49">
                                        <input id="49" name="deps" type="checkbox" value="49" #{if deps?.contains("49")}checked="checked"#{/if} /> &{'page.organisme.search.49'}
                                    </label>
                                </li>
                                <li>
                                    <label for="53">
                                        <input id="53" name="deps" type="checkbox" value="53" #{if deps?.contains("53")}checked="checked"#{/if} /> &{'page.organisme.search.53'}
                                    </label>
                                </li>
                                <li>
                                    <label for="72">
                                        <input id="72" name="deps" type="checkbox" value="72" #{if deps?.contains("72")}checked="checked"#{/if} /> &{'page.organisme.search.72'}
                                    </label>
                                </li>
                                <li>
                                    <label for="85">
                                        <input id="85" name="deps" type="checkbox" value="85" #{if deps?.contains("85")}checked="checked"#{/if} /> &{'page.organisme.search.85'}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
#{/form}

#{set 'moreScripts'}
    <script type="text/javascript">
        $(document).ready(function() {
            $(":checkbox").click(function(){

                $("#form").submit();
                $(":checkbox").attr("disabled", true);
            });
        });
    </script>
#{/set}