#{extends 'main.html' /}
#{set mainClass:'organisme' /}
#{set title:messages.get('page.organisme.show.title') /}


<div class="firstBlock blockDefault mainContainer">
    <div class="container">
        <h1>&{'page.organisme.show.title'}<span>&{'page.organisme.show.stitle'}</span></h1>
    </div>
</div>


<div class="blockDark">
    <div class="container">
        <div class="row-fluid">

            <!-- Right column -->
            <div class="span8">

                <!-- Identitte -->
                <div id="info" class="blockDefault">
                    <div class="row-fluid">
                        <div class="span6 name">
                            <h2>${organisme.nom}</h2>
                        </div>
                        <div class="span6">
                            <h3>&{'page.organisme.show.localite'}</h3>
                            <p>${organisme.ville}</p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 type${organisme.type.id}">
                            <h3>&{'page.organisme.show.typologie'}</h3>
                            <p>${organisme?.type?.libelle}</p>
                        </div>
                        <div class="span6">
                            <h3>&{'page.organisme.show.theme'}</h3>
                            <p>${organisme?.activite?.libelle}</p>
                        </div>
                    </div>
                </div>

                <!-- Activities -->
                <div id="activities" class="blockDefault">
                    <!-- Description -->
                    <div>
                        <h3>&{'page.organisme.show.description'}</h3>
                        ${organisme.description}
                    </div>
                    <!-- Produit -->
                    <div>
                        <h3>&{'page.organisme.show.produits'}</h3>
                        ${organisme.produit}
                    </div>
                </div>

                <div id="identity" class="blockDefault">
                    #{if organisme.siret}
                        <div>
                            <span class="libelle">&{'page.organisme.show.identifiant'}</span><span class="value">${organisme.siret}</span>
                        </div>
                    #{/if}
                    #{if organisme.creation}
                        <div>
                            <span class="libelle">&{'page.organisme.show.creation'}</span><span class="value">${organisme.creation.format("dd/MM/yyyy")}</span>
                        </div>
                    #{/if}
                    #{if organisme.nbSalarie}
                        <div>
                            <span class="libelle">&{'page.organisme.show.nbsalarie'}</span><span class="value">${organisme.nbSalarie.libelle}</span>
                        </div>
                    #{/if}
                </div>

            </div>

            <!-- Left column -->
            <div class="span4 ">

                <!-- Logo -->
                <div id="blocklogo" class="blockDefault">
                    <div>
                        #{if organisme.logo.type != null}
                            <img src="@{Organismes.logo(organisme.master.id)}" alt="&{'page.organisme.show.logo.alt',organisme.nom}"/>
                        #{/if}
                        #{else}
                            #{if play.mode.isDev()}
                                <img src="http://lorempixel.com/200/220/" title="Loremp Pixel"/>
                            #{/if}
                        #{/else}
                    </div>
                </div>

                <!-- Tags -->
                <div id="tags" class="blockDefault">
                    <div>
                        ${organisme.tags}
                    </div>
                </div>

                <!-- Contact informations -->
                <div id="contact" class="blockDefault">
                    <div>
                        <ul class="unstyled">
                            #{if organisme.siteweb}
                                <li>
                                    <a href="${organisme.siteweb}" title="&{'page.organisme.show.site.title',organisme.nom}">
                                        <i>@</i> ${organisme.siteweb}
                                    </a>
                                </li>
                            #{/if}
                            #{if organisme.email}
                                <li>
                                    <a href="mailto:${organisme.email}" title="&{'page.organisme.show.mail.title',organisme.nom}">
                                        <i class="icon-envelope-alt"></i> ${organisme.email}
                                    </a>
                                </li>
                            #{/if}
                            #{if organisme.telephone}
                                <li>
                                    <a href="tel:${organisme.telephone}" title="&{'page.organisme.show.telephone.title',organisme.nom}">
                                        <i class="icon-phone"></i> ${organisme.telephone}
                                    </a>
                                </li>
                            #{/if}
                            #{if organisme.twitter}
                                <li>
                                    <i class="icon-twitter"></i>
                                    <a href="http://www.twitter.com/${organisme.twitter}" title="&{'page.organisme.show.twitter.title',organisme.nom}">
                                        ${organisme.twitter}
                                    </a>
                                </li>
                            #{/if}
                            #{if organisme.facebook}
                                <li>
                                    <i class="icon-facebook"></i>
                                    <a href="http://www.facebook.com/${organisme.facebook}" title="&{'page.organisme.show.facebook.title',organisme.nom}">
                                        ${organisme.facebook}
                                    </a>
                                </li>
                            #{/if}
                         </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="blockDefault">
    <div class="container">
        <div class="row-fluid">

            <!-- Right column -->
            <div class="span8">
                <div class="blockOdd contactTitle pull-right">
                    <h3>&{'page.organisme.show.contact'}</h3>
                    <ul class="unstyled">
                        #{if organisme.telephone}
                            <li>
                                <span class="libelle">&{'page.organisme.show.tel'}</span>
                                <span class="value">
                                    <a href="tel:${organisme.telephone}" title="&{'page.organisme.show.telephone.title',organisme.nom}">
                                        ${organisme.telephone}
                                    </a>
                                </span>
                            </li>
                        #{/if}
                        #{if organisme.email}
                            <li>
                                <span class="libelle">&{'page.organisme.show.email'}</span>
                                <span class="value">
                                   <a href="mailto:${organisme.email}" title="&{'page.organisme.show.mail.title',organisme.nom}">
                                        ${organisme.email}
                                   </a>
                                </span>
                            </li>
                        #{/if}
                        #{if organisme.adresse}
                            <li>
                                <span class="libelle">&{'page.organisme.show.adresse'}</span>
                                <span class="value">${organisme.adresse}</span>
                            </li>
                        #{/if}
                        #{if organisme.ville}
                            <li>
                                <span class="libelle">&{'page.organisme.show.ville'}</span>
                                <span class="value">${organisme.ville}</span>
                            </li>
                        #{/if}
                        #{if organisme.codePostal}
                            <li>
                                <span class="libelle">&{'page.organisme.show.cp'}</span>
                                <span class="value">${organisme.codePostal}</span>
                            </li>
                        #{/if}
                    </ul>
                </div>
            </div>

            <!-- Left column -->
            <div id="edit" class="span4">
                <div class="blockOdd pull-left">
                    <a href="@{Organismes.edit(organisme.master.id)}" title="&{'page.organisme.show.edit'}">
                    &{'page.organisme.show.edit'}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


