#{extends 'page_logo.html' /}
#{set title: messages.get('page.participez.title') /}

<div class="row">
    <div class="span12">

        <h1>&{'page.participez.title'}</h1>

    #{cms.display 'participez'}
        <p>Pour toutes questions ou suggestions, n'hésitez pas à nous contcater via le formulaire ci-dessous :</p>
    #{/cms.display}

    #{form @Contact.send("participez"), class:"form-horizontal contact"}

        <input type="hidden" name="mode" value="participez" />

        #{ifErrors}
            <div class="alert alert-error">
                &{'error.checkform'}
            </div>
        #{/ifErrors}
        #{if flash.success}
            <div class="alert alert-success">
                <a class="close" href="#">×</a>
            ${flash.success}
            </div>
        #{/if}

        <fieldset class="blockLight">
            <div class="control-group #{ifError 'author'}error#{/ifError}">
                <label class="control-label" for="author">
                    &{'page.participez.author'}<span class="required">*</span>
                    <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'page.participez.author.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    <input type="text" name="author" id="author" value="${params.author}" placeholder="&{'page.participez.author.placeholder'}" />
                    #{if errors.forKey('author')}
                        <span class="help-inline">#{error 'author' /}</span>
                    #{/if}
                </div>
            </div>

            <div class="control-group #{ifError 'structure'}error#{/ifError}">
                <label class="control-label" for="structure">
                    &{'page.participez.structure'}
                    <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'page.participez.structure.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    <input type="text" name="structure" id="structure" value="${params.structure}" placeholder="&{'page.participez.structure.placeholder'}" />
                    #{if errors.forKey('structure')}
                        <span class="help-inline">#{error 'structure' /}</span>
                    #{/if}
                </div>
            </div>

            <!-- Field type -->
            <div class="control-group #{ifError 'type'}error#{/ifError}">
                <label class="control-label" for="type">
                &{'page.participez.type'} *
                </label>
                <div class="controls">
                    #{select 'type', items:types, value:(flash['type'])?flash['type']:type, id:'type'/}
                    #{ifError 'type'}
                        <span class="help-inline">#{error 'type' /}</span>
                    #{/ifError}
                </div>
            </div>

            <!-- Field codePostal -->
            <div class="control-group #{ifError 'codePostal'}error#{/ifError}">
                <label class="control-label" for="codePostal">
                &{'page.participez.codePostal'}
                </label>
                <div class="controls">
                    <input type="text" id="codePostal" name="codePostal" placeholder="&{'page.participez.codePostal.placeholder'}" value="#{if flash['codePostal']}${flash['codePostal']}#{/if}#{else}${codePostal}#{/else}"/>
                    #{ifError 'codePostal'}
                        <span class="help-inline">#{error 'codePostal' /}</span>
                    #{/ifError}
                </div>
            </div>

            <div class="control-group #{ifError 'email'}error#{/ifError}">
                <label class="control-label" for="email">
                    &{'page.participez.email'}
                    <span class="required">*</span>
                    <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'page.participez.email.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    <input type="email" name="email" id="email" value="${params.email}" placeholder="&{'page.participez.email.placeholder'}"/>
                    #{if errors.forKey('email')}
                        <span class="help-inline">#{error 'email' /}</span>
                    #{/if}
                </div>
            </div>

            <div class="control-group #{ifError 'message'}error#{/ifError}">
                <label class="control-label" for="message">
                 &{'page.participez.message'}
                    <span class="required">*</span>
                    <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'page.participez.message.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    <textarea name="message" id="message" class="xxlarge" rows="3">${params.message}</textarea>
                    #{if errors.forKey('message')}
                        <span class="help-inline">#{error 'message' /}</span>
                    #{/if}
                </div>
            </div>

            <div class="control-group #{ifError 'code'}error#{/ifError}">
                <label class="control-label" for="code">
                &{'page.contact.security'}
                    <span class="required">*</span>
                    <a class="form-tooltip" href="#" data-toggle="tooltip" title="&{'page.contact.message.help'}"><i class="icon-info-sign"></i></a>
                </label>
                <div class="controls">
                    <input type="text" name="code" id="code" size="18" value="" />
                    #{if errors.forKey('code')}
                        <span class="help-inline">#{error 'code' /}</span>
                    #{/if}
                    <div class="captcha">
                        <img src="@{Contact.captcha(randomID)}" />
                    </div>
                    <input type="hidden" name="randomID" value="${randomID}" />
                </div>
            </div>

            <div class="control-group #{ifError 'online'}errorBlock error#{/ifError}">
                <label class="online" for="online">
                    &{'page.participez.public'}
                    <input id="online" type="checkbox" name="online" value="1" checked="checked"/>
                    #{ifError 'online'}
                        <span class="help-inline">#{error 'online' /}</span>
                    #{/ifError}
                </label>
            </div>

            <div class="form-actions">
                <button class="btn btn-primary pull-right" type="submit">&{'page.contact.send'}</button>
            </div>

        </fieldset>
    #{/form}
    </div>
</div>