#{extends 'main.html' /}
#{set title:'Accueil' /}
#{set mainClass:'home' /}

<!-- header-->
<header id="overview" class="blockDefault firstBlock">
    <div class="container">

        <!-- title -->
        <div id="title" class="row-fluid">
            #{cms.display 'home_header' }
                <h2>
                    <img src="@{'public/images/datalab.png'}" alt="Logo DataLab" />
                </h2>
                <p>Développer la culture et les valeurs économiques et sociales des données en Région Pays de la Loire</p>
            #{/cms.display}
        </div>

        <!-- Les axes -->
        <div id="axes" class="row-fluid">
            #{cms.display 'home_axes' }
                <ul class="inline span12">
                    <li class="odd span3">
                        <a href="@{cms.Frontend.show('le-projet')}" title="Le projet">
                            <img src="@{'public/images/axes/former.png'}" alt=""/>
                            <h3>Former</h3>
                            <p>A la culture, aux outils, aux traitements, aux techniques</p>
                        </a>
                    </li>
                    <li class="even span3">
                        <a href="@{cms.Frontend.show('le-projet')}" title="Le projet">
                            <img src="@{'public/images/axes/experimenter.png'}" alt=""/>
                            <h3>Expérimenter</h3>
                            <p>Des projets innovants en lien avec des experts</p>
                        </a>
                    </li>
                    <li class="odd span3">
                        <a href="@{cms.Frontend.show('le-projet')}" title="Le projet">
                            <img src="@{'public/images/axes/developper.png'}" alt=""/>
                            <h3>Développer</h3>
                            <p>Des services, des usages, des recherchers, des animations</p>
                        </a>
                    </li>
                    <li class="even span3">
                        <a href="@{cms.Frontend.show('le-projet')}" title="Le projet">
                            <img src="@{'public/images/axes/valoriser.png'}" alt=""/>
                            <h3>Valoriser</h3>
                            <p>Les acteurs, les compétences, les initiatives</p>
                        </a>
                    </li>
                </ul>
            #{/cms.display}
        </div>
    </div>
</header>

<!-- Communauté -->
<div id="communaute" class="row-fluid blockEven">
    <div class="container">
        #{cms.display 'home_acteurs' }
            <h2>Une communauté d'acteurs</h2>
            <ul class="inline row-fluid">
                <li>
                    <div id="collectivites">
                        <a href="@{Organismes.search(null,2, null)}" title="Voir la liste des collectivités dans l'annuaire">
                            <span>Collectivités</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div id="entreprises">
                        <a href="@{Organismes.search(null,4, null)}" title="Voir la liste des entreprises dans l'annuaire">
                            <span>Entreprises</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div id="enseignement">
                        <a href="@{Organismes.search(null,3, null)}" title="Voir la liste des enseigants dans l'annuaire">
                            <span>Enseignement</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div id="recherche">
                        <a href="@{Organismes.search(null,6, null)}" title="Voir la liste des chercheurs dans l'annuaire">
                            <span>Recherche</span>
                        </a>
                    </div>
                </li>
                <li class="last">
                    <div id="startups">
                        <a href="@{Organismes.search(null,7, null)}" title="Voir la liste des startups dans l'annuaire">
                            <span>Startups</span>
                        </a>
                    </div>
                </li>
                <li class="first">
                    <div id="medias">
                        <a href="@{Organismes.search(null,5, null)}" title="Voir la liste des médias dans l'annuaire">
                            <span>Médias</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div id="associations">
                        <a href="@{Organismes.search(null,1, null)}" title="Voir la liste des associations dans l'annuaire">
                            <span>Associations</span>
                        </a>
                    </div>
                </li>
            </ul>
        #{/cms.display}
    </div>
</div>

<!-- Projet participatif -->
<div id="projet" class="row-fluid blockDefault">
    <div class="container">
        #{cms.display 'home_axes' }

            <h2>Un projet participatif</h2>

            <div>
                <div id="projetBaseLine" class="row-fluid">
                    <div class="span12">
                        <h3>Co-conception du programme DataLab</h3>
                        <p>de septembre à décembre 2013</p>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                        <div class="blockOdd appelTitle pull-left">
                            <h3>Appel à co-conception</h3>
                            <p>
                                <a href="@{Contact.participez()}" title="participez">
                                    Exprimez vos besoins en formations, projets, méthodes ou proposez vos compétences, outils, études et projets à mener
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="blockOdd annuaireTitle pull-right">
                            <h3>Renseignez l'annuaire</h3>
                            <p>
                                <a href="@{Organismes.search()}" title="Voir l'annuaire">
                                    Des structures du territoire travaillant sur le thème des données
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="etcom">
                    <span>&</span>
                </div>
            </div>

         #{/cms.display}

    </div>
</div>

<!-- Agenda -->
<div class="blockEven" id="agenda">
    <div class="container">
        #{cms.display 'home_agenda' }
            <h2>Agenda</h2>
        #{/cms.display}
    </div>
</div>

<div id="partenaires" class="blockDefault">
    <div class="container">

        #{cms.display 'home_partenaires' }

            <h2>Partenaire</h2>
            <ul class="inline row-fluid">
                <li>
                    <a href="#" title="Site internet de la région Pays de la Loire">
                        <!-- Image de 179 de large -->
                        <img src="@{'public/images/partenaires/region_pdl.png'}" alt="Logo de la région Pays de la Loire" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de la ville de Nantes">
                        <img src="@{'public/images/partenaires/nantes.png'}" alt="Logo de la ville de Nantes" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet du web2day">
                        <img src="@{'public/images/partenaires/web2day.png'}" alt="Logo du web2day" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet opendata de la ville de Nantes">
                        <img src="@{'public/images/partenaires/nod.png'}" alt="Logo de Nantes Opendata" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de Stéréolux">
                        <img src="@{'public/images/partenaires/stereolux.png'}" alt="Logo de Stéréolux" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de l'Open Knowledge Foundation France">
                        <img src="@{'public/images/partenaires/okf-fr.png'}" alt="Logo de l'Open Knowledge Foundation France" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de Ouest medialab">
                        <img src="@{'public/images/partenaires/ouestmedialab.png'}" alt="Logo de Ouest Medialab" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de Regards Citoyens">
                        <img src="@{'public/images/partenaires/regards_citoyens.png'}" alt="Logo de Regards citoyens" />
                    </a>
                </li>
            </ul>

        #{/cms.display}

        <div id="devenirpartenaire">
            <a href="@{Organismes.partenaires()}" title="Devenez partenaire">
                <span>Devenez Partenaire</span>
                <img src="@{'public/images/pictos/right-arrow.png'}" alt="" />
            </a>
        </div>
    </div>
</div>