#{extends 'main.html' /}
#{set title:'Accueil' /}
#{set mainClass:'home' /}

<!-- header-->
<header id="overview" class="blockDefault firstBlock">
    <div class="container">

        <!-- title -->
        <div id="title" class="row-fluid">
            #{cms.display 'home_header' }
                <h2>
                    <img src="@{'public/images/datalab.png'}" alt="Logo DataLab" />
                </h2>
                <p>Développer la culture et les valeurs économiques et sociales des données en Région Pays de la Loire</p>
            #{/cms.display}
        </div>

        <!-- Les axes -->
        <div id="axes" class="row-fluid">
            #{cms.display 'home_axes' }
                <ul class="inline span12">
                    <li class="odd span3">
                        <a href="@{cms.Frontend.show('le-projet')}" title="Le projet">
                            <img src="@{'public/images/axes/former.png'}" alt=""/>
                            <h3>Former</h3>
                            <p>A la culture, aux outils, aux traitements, aux techniques</p>
                        </a>
                    </li>
                    <li class="even span3">
                        <a href="@{cms.Frontend.show('le-projet')}" title="Le projet">
                            <img src="@{'public/images/axes/experimenter.png'}" alt=""/>
                            <h3>Expérimenter</h3>
                            <p>Des projets innovants en lien avec des experts</p>
                        </a>
                    </li>
                    <li class="odd span3">
                        <a href="@{cms.Frontend.show('le-projet')}" title="Le projet">
                            <img src="@{'public/images/axes/developper.png'}" alt=""/>
                            <h3>Développer</h3>
                            <p>Des services, des usages, des recherchers, des animations</p>
                        </a>
                    </li>
                    <li class="even span3">
                        <a href="@{cms.Frontend.show('le-projet')}" title="Le projet">
                            <img src="@{'public/images/axes/valoriser.png'}" alt=""/>
                            <h3>Valoriser</h3>
                            <p>Les acteurs, les compétences, les initiatives</p>
                        </a>
                    </li>
                </ul>
            #{/cms.display}
        </div>
    </div>
</header>

<!-- Communauté -->
<div id="communaute" class="row-fluid blockEven">
    <div class="container">
        #{cms.display 'home_acteurs' }
            <h2>Une communauté d'acteurs</h2>
            <ul class="inline row-fluid">
                <li>
                    <div id="collectivites">
                        <a href="@{Organismes.search(null,2, null)}" title="Voir la liste des collectivités dans l'annuaire">
                            <span>Collectivités</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div id="entreprises">
                        <a href="@{Organismes.search(null,4, null)}" title="Voir la liste des entreprises dans l'annuaire">
                            <span>Entreprises</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div id="enseignement">
                        <a href="@{Organismes.search(null,3, null)}" title="Voir la liste des enseigants dans l'annuaire">
                            <span>Enseignement</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div id="recherche">
                        <a href="@{Organismes.search(null,6, null)}" title="Voir la liste des chercheurs dans l'annuaire">
                            <span>Recherche</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div id="startups">
                        <a href="@{Organismes.search(null,7, null)}" title="Voir la liste des startups dans l'annuaire">
                            <span>Startups</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div id="medias">
                        <a href="@{Organismes.search(null,5, null)}" title="Voir la liste des médias dans l'annuaire">
                            <span>Médias</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div id="associations">
                        <a href="@{Organismes.search(null,1, null)}" title="Voir la liste des associations dans l'annuaire">
                            <span>Associations</span>
                        </a>
                    </div>
                </li>
            </ul>
        #{/cms.display}
    </div>
</div>

<!-- Projet participatif -->
<div id="projet" class="row-fluid blockDefault">
    <div class="container">
        #{cms.display 'home_projet_participatif' }

            <h2>Un projet participatif</h2>

            <div>
                <div id="projetBaseLine" class="row-fluid">
                    <div class="span12">
                        <h3>Co-conception du programme DataLab</h3>
                        <p>de septembre à décembre 2013</p>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                        <div class="blockOdd appelTitle pull-left">
                            <a href="@{Contact.participez()}" title="participez">
                                <h3>Appel à co-conception</h3>
                                <p>
                                    Exprimez vos besoins en formations, projets, méthodes ou proposez vos compétences, outils, études et projets à mener
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="blockOdd annuaireTitle pull-right">
                            <a href="@{Organismes.search()}" title="Voir l'annuaire">
                                <h3>Renseignez l'annuaire</h3>
                                <p>
                                    Des structures du territoire travaillant sur le thème des données
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="etcom">
                    <span>&</span>
                </div>
            </div>

         #{/cms.display}

    </div>
</div>

<!-- Agenda -->
<div class="blockDark" id="agenda">
    <div class="container">
        <h2>Agenda</h2>
        <div class="agendas">
            #{list items:agendas, as:'agenda'}
                <div class="agenda clearfix">
                    <div class="description">
                        #{if agenda.link}
                            <h3>
                                <a href="${agenda.link}" title="&{'page.home.ensavoirplus', agenda.name}">
                                    ${agenda.name}
                                </a>
                            </h3>
                            <a href="${agenda.link}" title="&{'page.home.ensavoirplus', agenda.name}">
                                <p>${agenda.description}</p>
                            </a>
                        #{/if}
                        #{else}
                            <h3>${agenda.name}</h3>
                            <p>${agenda.description}</p>
                        #{/else}
                    </div>
                    <img src="@{Agendas.image(agenda.id)}" alt="${agenda.description}" />
                    <div class="date">
                        <div class="datecontainer">
                            <span class="day">${agenda.date.format("dd")}</span>
                            <span class="month">${agenda.date.format("MMM")}</span>
                        </div>
                        <div class="arrow-down"></div>
                    </div>
                </div>
            #{/list}
        </div>
    </div>
</div>

<div id="partenaires" class="blockDefault">
    <div class="container">

        #{cms.display 'home_partenaires' }

            <h2>Partenaire</h2>
            <ul class="inline row-fluid">
                <li>
                    <a href="#" title="Site internet d'emergence">
                        <img src="@{'public/images/partenaires/emergence.png'}" alt="Logo d'eémergence" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de la ville de Nantes">
                        <img src="@{'public/images/partenaires/ir.png'}" alt="Logo d'images & réseaux" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet d'Angers Technopole">
                        <img src="@{'public/images/partenaires/angers-tech.png'}" alt="Logo d'Angers technopole" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de l'école de design de Nantes">
                        <img src="@{'public/images/partenaires/nantes-design.png'}" alt="Logo de l'école de design de Nantes" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de la région paus de la Loire">
                        <img src="@{'public/images/partenaires/region_pdl.png'}" alt="Logo de la région Pays de la Loire" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de la forge des possibles">
                        <img src="@{'public/images/partenaires/la-forge.png'}" alt="Logo de la forge des possibles" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet d'atlantic 2.0">
                        <img src="@{'public/images/partenaires/atl2.0.png'}" alt="Logo d'atlantic 2.0" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de Laval Mayenne technopole">
                        <img src="@{'public/images/partenaires/laval-tech.png'}" alt="Logo de Laval Mayenne technopole" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de l'université de Nantes">
                        <img src="@{'public/images/partenaires/univ-nantes.png'}" alt="Logo de l'université de Nantes" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de VEGEPOLYS">
                        <img src="@{'public/images/partenaires/vegepolys.png'}" alt="Logo de VEGEPOLYS" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet d'Angers Loire métropole">
                        <img src="@{'public/images/partenaires/ALM.png'}" alt="Logo d'Angers Loire métropole" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de la CCI de Sarthe">
                        <img src="@{'public/images/partenaires/CCI-72.png'}" alt="Logo de la CCI de sarthe" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de LINA">
                        <img src="@{'public/images/partenaires/lina.png'}" alt="Logo de LINA" />
                    </a>
                </li>
                <li>
                    <a href="#" title="Site internet de LiberTIC">
                        <img src="@{'public/images/partenaires/libertic.png'}" alt="Logo de LiberTIC" />
                    </a>
                </li>
            </ul>

        #{/cms.display}

        <div id="devenirpartenaire">
            <a href="@{cms.Frontend.show("devenez-partenaire")}" title="&{'page.organisme.partenaire.devenez'}">
                <span>Devenez Partenaire</span>
                <img src="@{'public/images/pictos/right-arrow.png'}" alt="" />
            </a>
        </div>
    </div>
</div>