#{extends 'main.html' /}

<!-- header-->
<header id="overview" class="blockDefault">
    <div class="container">
        <!-- title -->
        <div id="title" class="row-fluid">
        #{cms.display 'home_header' }
            <h2>
                <img src="@{'public/images/datalab.png'}" alt="Logo DataLab" />
            </h2>
            <p>Développer la culture et les valeurs économiques et sociales des données en Région Pays de la Loire</p>
        #{/cms.display}
        </div>
    </div>
</header>

<div class="blockDefault mainContainer">
    <div class="container">
        #{doLayout /}
    </div>
</div>